*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: auto;
}

header{
    width: 90%;
    margin: 1em auto;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_cont{
    width: 15%;
    height: 100%;
}

.img_cont img{
    width: 100%;
    height: 100%;
}

nav{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: hsl(0,0%,26%);
    font-size: 1.2em;
}

#butn1{
    height: 100%;
    width: 10%;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: hsl(319,65%,38%);
    cursor: pointer;
}

#act_main{
    width: 100%;
}

#sec1{
    margin: 0 auto;
    display: flex;
    width: 90%;
    margin-top: 7%;
    height: 60vh;
    justify-content: space-between;
}
#sec1left{
    padding-top: 6em;
    width: 50%;
    height: 100%;
    position: relative;
}
#sec1left h1{
    font-size: 4em;
    margin-bottom: .8em;
    font-weight: 100px;
    color: hsl(0,0%,26%);
    line-height: 1em;
}
#sec1left .sp1{
    color: hsl(319,65%,38%);
}

#sec1left #p1{
    width: 70%;
    font-size: 1.35em;
    line-height: 1em;
}

#header_input{
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 6vh;
    /* background-color: green; */
    position: absolute;
    bottom: 2em;
}

#middlepics{
    width: 50%;
    height: 100%;
}

#middlepics img{
    width: 100%;
    height: 100%;
}

#header_input input[type = 'text']{
    border: solid 1px gray;
    width: 70%;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
    border-right: none;
    padding: 20px;
    font-size: 1.3em;
}

input:focus{
    outline: none;
}
#srch{
    height: 100%;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
    width: 30%;
    background-color: hsl(319,65%,38%);
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

#midsection{
    margin-top: 5%;
    background-color:hsl(319,65%,38%);
    padding: 0.5em;
    width: 100%;
}

.inner_cont{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#sec2 {
    width: 100%;
    padding-block: 10px;
}

#sec2 h2{
    text-align: center;
    font-size: 3em;
    margin: 3% 0;
}

#sec2pics{
    width: 90%;
    margin: 0 auto;
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 15px;
}

.card .img_cont{
    width: 100%;
    height: 80%;
}

.card .img_cont img{
    width: 100%;
    height: 100%;
}
.first_row, .sec_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    margin-block: 3px;
}
#sec3{
    width: 100%;
    display: flex;
    background-color: hsl(319,65%,38%);
    padding: 5em 6em;
    color: white;
    margin-top: 3em;
    justify-content: space-between;
}

#leftcontent{
    width: 30%;
    padding-top: 7em;
}

#leftcontent h2{
    font-size: 3em;
    margin-bottom: 1.2em;
}

#headpara{
    line-height: 2em;
    margin-bottom: 4em;
}

#butn2{
    font-size: 1.4em;
    padding: 6px;
    width: 10em;
    border-radius: 0.3em;
    border: none ;
    color: hsl(318,40%,55%);
    cursor: pointer;
}

#rightcontent{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 3em;
    width: 100%;
}
    
#footer{
    margin-left: 40%;
}
#foot1{
    margin-left: 12%;
    position: relative; right: 5%;
}
#foot2{
    margin-left: 10%;
}
#foot3{
    margin-left: 15%;
}
#foot4{
    margin-left: 15%;
}
#footpic{
    width: 10em;
    margin-top: 10%;
}
#socials{
    width: 10em;
    margin-top: 35%;
}
#facebook{
    width: 0.5em;
}
#instagram{
    margin-left: 15%;
    width: 0.8em;
}
#twitter{
    margin-left: 15%;
    width: 0.9em;
}
#copy{
    margin-top: 20%;
}
#firstpart{
    display: flex;
}
#secondrow{
    display: flex;
    margin-top: 2em;
}
#tcol1{
    border: solid 1px gray;
    border-radius: 1em;
    padding: 0.7em;
    margin-left: 2em;
}
#tcol2{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol3{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol4{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol5{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol6{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol7{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
    margin-top: 2em;
}
#tcol8{
    border: solid 1px gray;
    border-radius: 1em;
    border-width: 100%;
    margin-left: 2em;
    padding: 0.7em;
    margin-top: 2em;
}

#selection{
    width: 90%;
    height: 6vh;
    margin: 0 auto;
    margin-top: 5%;
}

#selection ul{
    padding-inline: 5px;
    font-size: 1.2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

ul li{
    list-style-type: none;
}

ul select{
    width: 10%;
    height: 80%;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
}

.scam{
    width: 90%;
    /* background-color: yellow; */
    margin: 3em auto;
}

.scam img{
    width: 100%;
    height: 100%;
}

/* @media screen and (max-width: 750px) {
    #firsticon{
        position: relative; left: 2.5em;
        width: 14em;
    }
    #middle{
        font-size: 12px;
    }
    #sec1{
        display: block;
        width: 15em;
        margin-left: 3%;
    }
    #header_input{
        width: 23em;
        display: flex;
    }
    #srch{
        position: relative; right: 31%;
        margin-top: 0.3%;
    }
    #mid{
        width: 17em;

    }
    #middle{
        margin-left: -10em;
    }
    #midpar{
        padding-right: 1em;
    }
    #middlepics{
        position: relative; left: 3%;
    }
    #midsection{
        width: 79.5%;
    }
    #midsecpic1{
        width: 5em;
        margin-left: 1%;
    }
    #midsecpic2{
        width: 5em;
        position: relative; left: 1.5em; bottom: 0.1em;
    }
    #midsecpic3{
        width: 5em;
        position: relative; left: 3em;
    }
    #sec2pics{
        display: block;
    }
    #tablet{
        display: block;
    }
    #firstpart{
        display: block;
    }
    #tablet1{
        display: block !important;
    }
    #secondrow{
        display: block;
    }
    #tablet2{
        display: block;
    }
    #tablet3{
        display: block;
    }
    #tcol1{
        padding: 0.1em;
    }
    #tbcontpic1-2{
        margin-right: 2.5%;
    }
    #sec2head{
        font-size: 15px;
        position: relative; right: 5%;
    }
    #sec2{
        position: relative; right: 5%;
    }
    #tcol2{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol3{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol4{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol5{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol6{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol7{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol8{
        padding: 0.1em;
        margin-top: 2em;
    }
    #sec3{
        display: block;
        width: 79.5%;
        overflow: hidden;
    }
    #sec3pics{
        font-size: 0.6em;
        position: relative; left: -8em;
        margin-top: 5em;
    }
    #sec3head{
        width: 10em;
        position: relative; left: -3em;
    }
    #headpara{
        width: 17em;
        position: relative; left: -5.3em;
        
    }
    footer{
        display: block;
        width: 79.5%;
    }
    #socials{
        margin-top: 5%;
    }
    #copy{
        margin-top: 5%;
    }
    #foot2{
        margin-top: 20%;
        margin-left: 5%;
    }
    #foot3{
        margin-top: 20%;
        margin-left: 5%;
    }
    #foot4{
        margin-top: 20%;
        margin-left: 5%;
    }
    #butn1{
        font-size: 10px;
    }
}
@media screen and (max-width: 1250px){
    #head{
        margin-right: 10%;
    }
    #firsticon{
        position: relative; left: 2em;
    }
    #midpar{
        position: relative; left: -5em;
        width: 50%;
    }
    #butn1{
        position: relative; left: -3em;
    }
    #sec1{
        display: block;
    }
    #srch{
        position: relative; left: -2em;
    }
    #midsecpic1{
        margin-left: 1%;
    }
    #midsecpic2{
        position: relative; left: 7em;
    }
    #midsecpic3{
        position: relative; left: 15em;
    }
    #firstpart{
        display: block;
    }
    #tablet2{
        display: block;
    }
    #tablet{
        margin-bottom: 2em;
    }
    #sec2pics{
        margin-left: 6em;
    }
    #sec3{
        display: block;
    }
    #leftcontent{
        width: 30em;
    }
    #sec3pics{
        position: relative; left: 2em;
    }
    #foot1{
        margin-left: 1em;
        margin-top: -2em;
    }
    #foot2{
        position: relative; left: -8em;
        margin-top: -1em;
    }
    #foot3{
        position: relative; left: -10em;
        margin-top: -1em;
    }
    #foot4{
        position: relative; left: -27em;
        margin-top: -1em;
    }
    #footpar{
        width: 20em;
    }
} */