*{
    width: auto;
    padding: auto;
    box-sizing: border-box;
}
#head{
    display: inline-flex;
    width: 100%;
    margin-top: 2%;
}
#firsticon{
    font-size: 5px;
    position: relative; left: 60%;
    width: 30em;
}
#middle{
    display: flex;
    position: relative; left: 20%; bottom: 1em;
    width: 50%;
}
#midpar{
    padding-right: 3em;
    cursor: pointer;
}
#butn1{
    margin-left: 17%;
    height: 2.5em;
    width: 9em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: hsl(319,65%,38%);
    height: 2.5em;
    cursor: pointer;
}
#sec1{
    margin-left: 7%;
    display: flex;
    width: 70%;
    margin-top: 5%;
}
#sec1left{
    text-align: justify;
    width: 110%;
    margin-top: 3%;
}
h1{
    font-size: 36px;
    font-weight: 100px;
    color: hsl(0,0%,26%);
}
#sp1{
    color: hsl(319,65%,38%);
}
#middlepics{
    position: relative; left: 15%;
}
#header-input{
    display: flex;
}
input[type = 'text']{
    border: solid 1px gray;
    width: 27.2em;
    height: 2.5em;
    border-radius: 0.5em;
    border-right: none;
    
}
input:focus{
    outline: solid 0.1px grey;
    border: none;
}
#srch{
    position: absolute;
    right: 64%;
    height: 2.7em;
    border: none;
    border-radius: 0 0 0.5em;
    margin-top: 0.05%;
    width: 12em;
    background-color: hsl(319,65%,38%);
    color: white;
    cursor: pointer;
}
#midsection{
    margin-top: 5%;
    background-color:hsl(319,65%,38%);
    padding: 0.5em;
}
#midsecpic1{
    margin-left: 10%;
    width: 10em;
}
#midsecpic2{
    position: relative; left: 20%;
    width: 10em;
}
#midsecpic3{
    position: relative; left: 40%;
    width: 10em;
}
h2{
    text-align: center;
    font-size: 30px;
}
table{
    margin-left: 7%;
}
tr{
    width: 10%;
}
#tablepic{
    width: 14em;
    cursor: pointer;
}
#sec2pics{
    width: 70%;
    margin-left: 6%;
    margin-bottom: 3em;
    margin-top: 3em;
}
#tablepic1{
 width: 14em;
 cursor: pointer;
}
#tablet{
    display: flex;
}
#tablet2{
    display: flex;
}
#tablet1{
    display: flex;
}
#tablet3{
    display: flex;
}
#sec2head{
    margin-top: 2em;
}
#tablecont{
    display: flex;
}
#tbcontpic1{
    font-size: 13px;
}
#tbcontpic1-2{
    position: relative; left: 2%; bottom: 0.5em;
    text-align: right;
    font-size: 13px;
}
#sec3{
    display: flex;
    background-color: hsl(319,65%,38%);
    padding: 5em;
    color: white;
    text-align: justify;
    margin-top: 1%;
}
#sec3head{
    text-align: start;
}
#leftcontent{
    width: 30%;
    position: relative; left: 10%;
    margin-top: 7%;
}
#sec3pics{
    width: 30em;
    position: relative; left: 55%;
}
#butn2{
    height: 2em;
    width: 7em;
    border-radius: 0.3em;
    border: none ;
    color: hsl(318,40%,55%);
    cursor: pointer;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    padding: 3em;
}
#footer{
    margin-left: 40%;
}
#foot1{
    margin-left: 12%;
    position: relative; right: 5%;
}
#foot2{
    margin-left: 10%;
}
#foot3{
    margin-left: 15%;
}
#foot4{
    margin-left: 15%;
}
#footpic{
    width: 10em;
    margin-top: 10%;
}
#socials{
    width: 10em;
    margin-top: 35%;
}
#facebook{
    width: 0.5em;
}
#instagram{
    margin-left: 15%;
    width: 0.8em;
}
#twitter{
    margin-left: 15%;
    width: 0.9em;
}
#copy{
    margin-top: 20%;
}
#firstpart{
    display: flex;
}
#secondrow{
    display: flex;
    margin-top: 2em;
}
#tcol1{
    border: solid 1px gray;
    border-radius: 1em;
    padding: 0.7em;
    margin-left: 2em;
}
#tcol2{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol3{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol4{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol5{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol6{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
}
#tcol7{
    border: solid 1px gray;
    border-radius: 1em;
    margin-left: 2em;
    padding: 0.7em;
    margin-top: 2em;
}
#tcol8{
    border: solid 1px gray;
    border-radius: 1em;
    border-width: 100%;
    margin-left: 2em;
    padding: 0.7em;
    margin-top: 2em;
}
@media screen and (max-width: 750px) {
    *{
    
    }
    header{

    }
    #firsticon{
        position: relative; left: 2.5em;
        width: 14em;
    }
    #middle{
        font-size: 12px;
    }
    #sec1{
        display: block;
        width: 15em;
        margin-left: 3%;
    }
    #header_input{
        width: 23em;
        display: flex;
    }
    #srch{
        position: relative; right: 31%;
        margin-top: 0.3%;
    }
    #mid{
        width: 17em;

    }
    #middle{
        margin-left: -10em;
    }
    #midpar{
        padding-right: 1em;
    }
    #middlepics{
        position: relative; left: 3%;
    }
    #midsection{
        width: 79.5%;
    }
    #midsecpic1{
        width: 5em;
        margin-left: 1%;
    }
    #midsecpic2{
        width: 5em;
        position: relative; left: 1.5em; bottom: 0.1em;
    }
    #midsecpic3{
        width: 5em;
        position: relative; left: 3em;
    }
    #sec2pics{
        display: block;
    }
    #tablet{
        display: block;
    }
    #firstpart{
        display: block;
    }
    #tablet1{
        display: block !important;
    }
    #secondrow{
        display: block;
    }
    #tablet2{
        display: block;
    }
    #tablet3{
        display: block;
    }
    #tcol1{
        padding: 0.1em;
    }
    #tbcontpic1-2{
        margin-right: 2.5%;
    }
    #sec2head{
        font-size: 15px;
        position: relative; right: 5%;
    }
    #sec2{
        position: relative; right: 5%;
    }
    #tcol2{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol3{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol4{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol5{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol6{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol7{
        padding: 0.1em;
        margin-top: 2em;
    }
    #tcol8{
        padding: 0.1em;
        margin-top: 2em;
    }
    #sec3{
        display: block;
        width: 79.5%;
        overflow: hidden;
    }
    #sec3pics{
        font-size: 0.6em;
        position: relative; left: -8em;
        margin-top: 5em;
    }
    #sec3head{
        width: 10em;
        position: relative; left: -3em;
    }
    #headpara{
        width: 17em;
        position: relative; left: -5.3em;
        
    }
    footer{
        display: block;
        width: 79.5%;
    }
    #socials{
        margin-top: 5%;
    }
    #copy{
        margin-top: 5%;
    }
    #foot2{
        margin-top: 20%;
        margin-left: 5%;
    }
    #foot3{
        margin-top: 20%;
        margin-left: 5%;
    }
    #foot4{
        margin-top: 20%;
        margin-left: 5%;
    }
    #butn1{
        font-size: 10px;
    }
}
@media screen and (max-width: 1250px){
    *{
        
    }
    #head{
        margin-right: 10%;
    }
    #firsticon{
        position: relative; left: 2em;
    }
    #midpar{
        position: relative; left: -5em;
        width: 50%;
    }
    #butn1{
        position: relative; left: -3em;
    }
    #sec1{
        display: block;
    }
    #srch{
        position: relative; left: -2em;
    }
    #midsecpic1{
        margin-left: 1%;
    }
    #midsecpic2{
        position: relative; left: 7em;
    }
    #midsecpic3{
        position: relative; left: 15em;
    }
    #firstpart{
        display: block;
    }
    #tablet2{
        display: block;
    }
    #tablet{
        margin-bottom: 2em;
    }
    #sec2pics{
        margin-left: 6em;
    }
    #sec3{
        display: block;
    }
    #leftcontent{
        width: 30em;
    }
    #sec3pics{
        position: relative; left: 2em;
    }
    #foot1{
        margin-left: 1em;
        margin-top: -2em;
    }
    #foot2{
        position: relative; left: -8em;
        margin-top: -1em;
    }
    #foot3{
        position: relative; left: -10em;
        margin-top: -1em;
    }
    #foot4{
        position: relative; left: -27em;
        margin-top: -1em;
    }
    #footpar{
        width: 20em;
    }
}